# fly.toml app configuration file generated for character-generator on 2025-07-23T13:20:41+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'character-generator'
primary_region = 'fra'

[build]
  image = 'ghcr.io/valentinbauza/spring-boot-flyio:latest'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
